@using KUSYSDemo.Models.Entity
@model List<Student>
@{
    ViewData["Title"] = "Öğrenciler";
} @{
    int i = 1;
}
<style>
    th {
        text-align: center;
    }
</style>

<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="col-md-3">
                <button class="form-control btn btn-primary rounded submit px-3" type="button" onclick="location.href='@Url.Action("Create", "Students" )'">
                    Yeni Öğrenci Ekle
                </button>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4"> </div>
        </div>
    </div>
    <h1 class="display-4">Öğrenciler</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Adı</th>
                <th scope="col">Soyadı</th>
                <th scope="col">Doğum Tarihi</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Convert.ToInt32(i)</th>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.BirthDate</td>
                    <td>
                        <button class="btn btn-danger btn-md" type="button" onclick="location.href='@Url.Action("Delete", "Students",item)'">
                            Kaydı Sil
                        </button>

                        <button type="button" class=" btn btn-success btn-md anchorDetail" data-id="@item.StudentId" onclick="javascript:void(0);">
                            Detay Gör
                        </button>
                        <button class="btn btn-info btn-md" type="button" onclick="location.href='@Url.Action("List", "StudentCourse",item)'">
                            Kurslar
                        </button>
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" id="closbtn" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                <div id='myModalContent'>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    var url = '/Students/Detail';
    $(function() {
        $(".anchorDetail").click(function() {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function(data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function() {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function() {
            $('#myModal').modal('hide');
        });
    });

</script>  